[Unit]
Description=CaSSAndRA mower management
After=network-online.target sunray.service
Wants=network-online.target

[Container]
Image={{ alfred_cassandra_image }}:{{ alfred_cassandra_image_tag }}
ContainerName=cassandra
Network=host
Volume=/home/{{ ansible_user }}/.cassandra:/data:Z
AutoUpdate=registry
PodmanArgs=--init
Environment=TZ={{ alfred_timezone }}
{% if alfred_cassandra_api | default('') | string == 'MQTT' %}
Environment=CASSANDRA_API={{ alfred_cassandra_api | string | to_json }}
Environment=CASSANDRA_API_MQTT_CLIENT_ID={{ (alfred_cassandra_api_mqtt_client_id | default('') or 'cassandra-' ~ inventory_hostname) | string | to_json }}
Environment=CASSANDRA_API_MQTT_SERVER={{ alfred_cassandra_api_mqtt_server | string | to_json }}
Environment=CASSANDRA_API_MQTT_PORT={{ alfred_cassandra_api_mqtt_port }}
Environment=CASSANDRA_API_MQTT_SERVER_NAME={{ (alfred_cassandra_api_mqtt_server_name | default('') or inventory_hostname) | string | to_json }}
EnvironmentFile=-{{ alfred_cassandra_api_mqtt_env_file }}
{% endif %}

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
