[Journal]
Storage={{ alfred_journald_storage }}
SystemMaxUse={{ alfred_journald_system_max_use }}
SystemKeepFree={{ alfred_journald_system_keep_free }}
SystemMaxFileSize={{ alfred_journald_system_max_file_size }}
