WIFI_LED_BACKEND={{ alfred_wifi_led_backend }}
WIFI_LED_INTERFACE={{ alfred_wifi_led_interface }}
WIFI_LED_INTERVAL={{ alfred_wifi_led_interval }}
WIFI_LED_REQUIRE_DEFAULT_ROUTE={{ 1 if alfred_wifi_led_require_default_route | bool else 0 }}
WIFI_LED_DEGRADED_RSSI_DBM={{ alfred_wifi_led_degraded_rssi_dbm }}
WIFI_LED_HEALTH_HOST={{ alfred_wifi_led_health_host }}
WIFI_LED_ACT_LED={{ alfred_wifi_led_act_led }}
WIFI_LED_PANEL_I2C_BUS={{ alfred_wifi_led_panel_i2c_bus }}
WIFI_LED_PANEL_I2C_ADDRESS={{ alfred_wifi_led_panel_i2c_address }}
WIFI_LED_PANEL_MUX_ADDRESS={{ alfred_wifi_led_panel_mux_address }}
WIFI_LED_PANEL_MUX_CHANNEL={{ alfred_wifi_led_panel_mux_channel }}
WIFI_LED_PANEL_GREEN_PORT={{ alfred_wifi_led_panel_green_port }}
WIFI_LED_PANEL_GREEN_PIN={{ alfred_wifi_led_panel_green_pin }}
WIFI_LED_PANEL_RED_PORT={{ alfred_wifi_led_panel_red_port }}
WIFI_LED_PANEL_RED_PIN={{ alfred_wifi_led_panel_red_pin }}
